
body{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: none;
}
main{

}
.nome{
    width: 20%;
    height: 30px;
    font-size: 20px;
}
.botao{
    width: 10%;
    height: 35px;
    color: rgb(0, 0, 0);
    background-color: rgb(9, 165, 226);
    border-radius: 10px;
    border: solid 1px;
}
.carta{
    width: 20%;
    margin: 01px;
    height: 20%;
    border: solid 5px;
    text-shadow: white 0px 0px 2px;
    font-size: 16px;
    background-size: 150px;
     background-color: rgb(235, 14, 14);
     filter: brightness(0%);  
}
p{
    color: red;
    font-size: 30px;
}
.carta:active{
    transform: scale(0.90);
    background-color: white;
    filter: brightness(100%);
    
}
